<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>トップページ | 休暇申請アプリケーション</title>
</head>
<body>
<h1>休暇申請アプリケーション</h1>
<p>
  <a
    th:href="@{/leave-request/creationForm?id=0}"
    th:text="休暇申請新規登録">
    休暇申請新規登録
  </a>
</p>
<ul>
  <li>
    <a href="leave-request/approved-list.html" th:href="@{/leave-request/approved-list}">承認済み申請一覧</a>
  </li>
  <li>
    <a href="leave-request/draft-list.html" th:href="@{/leave-request/draft-list}">下書き申請一覧</a>
  </li>
  <li>
    <a href="leave-request/pending-approval-list.html" th:href="@{/leave-request/pending-approval-list}">承認待ち申請一覧</a>
  </li>
</ul>
</body>
</html>