<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <title>申請承認</title>
</head>
<body>
<h1 class="mt-3">申請承認</h1>
<div>
  <a href="/" th:href="@{/}">トップに戻る</a>
</div>
<form th:method="post" th:object="${approveForm}">
  <div class="mt-3">
    <label for="request_date" class="form-label">申請日: </label>
    <input
      type="date"
      id="request_date"
      name="requestDate"
      th:value="*{requestDate == null ? '' : requestDate}"
      readonly
    />
  </div>

  <div class="mt-3">
    <label for="start_date" class="form-label">開始日: </label>
    <input
      type="date"
      id="start_date"
      name="startDate"
      th:value="*{startDate == null ? '' : startDate}"
      readonly
    />
  </div>

  <div class="mt-3">
    <label for="end_date" class="form-label">終了日: </label>
    <input
      type="date"
      id="end_date"
      name="endDate"
      th:value="*{endDate == null ? '' : endDate}"
      readonly
    />
  </div>

  <div class="mt-3">
    <button class="btn btn-primary" type="submit" name="action" value="approve">承認する</button>
  </div>
</form>
</body>
</html>
