<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>休暇申請作成</title>
</head>
<body>
<h1>休暇申請作成</h1>
<div>
  <a href="/" th:href="@{/}">トップに戻る</a>
</div>
<form th:method="post" th:object="${leaveRequestForm}">
  <div>
    <label for="request_date">申請日: </label>
    <input type="date" id="request_date" th:field="*{requestDate}" />
    <p th:if="${#fields.hasErrors('requestDate')}" th:errors="*{requestDate}">(error)</p>
  </div>
  <div>
    <label for="start_date">開始日: </label>
    <input type="date" id="start_date" th:field="*{startDate}" />
    <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">(error)</p>
  </div>
  <div>
    <label for="end_date">終了日: </label>
    <input type="date" id="end_date" th:field="*{endDate}" />
    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">(error)</p>
  </div>
  <br />
  <div>
    <button type="submit" name="status" value="1">下書き保存をする</button>
  </div>
  <br />
  <div>
    <button type="submit" name="status" value="2">承認申請をする</button>
    <br>
  </div>
  <br />
<!--    <th:block th:if="${param.id[0]} != 'new'">-->
      <div>
        <button type="submit" name="status" value="0">申請を削除する</button>
      </div>
<!--    </th:block>-->
</form>
</body>
</html>