<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>休暇申請作成</title>
</head>
<body>
<h1>休暇申請作成</h1>
<form action="#" th:action="@{/leave-request}" th:method="post" th:object="${leaveRequestForm}">
  <div>
    <label for="summaryInput">ダミー</label>
    <input type="text" id="summaryInput" th:field="*{summary}">
  </div>

  <div>
    <label for="requestDate">申請日: </label>
    <input type="date" id="requestDate" name="request-date" />
  </div>
<!--  <div>-->
<!--    <label for="descriptionInput">ダミー</label>-->
<!--    <input type="text" id="descriptionInput" th:field="*{description}"></input>-->
<!--  </div>-->
  <div>
    <button type="submit">作成</button>
  </div>
</form>
</body>
</html>