<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>休暇申請作成</title>
</head>
<body>
<h1>休暇申請作成</h1>
<div>
  <a href="./list.html">一覧画面</a>
</div>
<br>
<form action="#" th:action="@{/leave-request}" th:method="post" th:object="${leaveRequestForm}">
  <div>
    <label for="request_date">申請日: </label>
    <input type="date" id="request_date" th:field="*{requestDate}" />
  </div>
  <div>
    <label for="start_date">開始日: </label>
    <input type="date" id="start_date" th:field="*{startDate}" />
  </div>
  <div>
    <label for="end_date">終了日: </label>
    <input type="date" id="end_date" th:field="*{endDate}" />
  </div>
  <br />
  <div>
    <button type="submit">下書き保存をする</button>
  </div>
  <br />
  <div>
    <button type="submit">承認申請をする</button>
    <br>
  </div>
  <br />
  <div>
    <button type="submit">申請を削除する</button>
    <br>
  </div>
</form>
</body>
</html>