<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <title>申請詳細</title>
</head>
<body>
<h1 class="mt-3">申請詳細</h1>

<div class="container text-center mt-3">
  <div class="row row-cols-auto">
    <a href="../index.html" th:href="@{/}">トップページ</a>
    <a href="approved-list.html" th:href="@{/leave-request/approved-list}">承認済み一覧</a>
  </div>
</div>

<div class="mt-3">
  <p th:text="'申請日: ' + ${leaveRequest.requestDate}"></p>
</div>

<div class="mt-3">
  <p th:text="'開始日: ' + ${leaveRequest.startDate}"></p>
</div>

<div class="mt-3">
  <p th:text="'終了日: ' + ${leaveRequest.endDate}"></p>
</div>

<div class="mt-3">
  <p>ステータス: 承認済</p>
</div>

</body>
</html>