<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <meta charset="UTF-8">
  <title>下書き申請一覧 | 休暇申請アプリケーション</title>
</head>
<body>
<h1 class="mt-3">下書き申請一覧</h1>

<div class="container text-center mt-3">
  <div class="row row-cols-auto">
    <a href="../index.html" th:href="@{/}">トップページ</a>
    <a href="../leave-request/approved-list.html" th:href="@{/leave-request/approved-list}">承認済み申請一覧</a>
    <a href="../leave-request/pending-approval-list.html" th:href="@{/leave-request/pending-approval-list}">承認待ち申請一覧</a>
  </div>
</div>

<table class="table mt-3">
  <thead>
  <tr>
    <th>リンク</th>
    <th>申請日</th>
    <th>ステータス</th>
    <th>申請者</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="v : ${draftList}">
    <td>
      <a
        href="./creationForm.html"
        th:href="@{/leave-request/creationForm(id=${v.id})}"
        th:text="編集画面">
        編集画面
      </a>
    </td>
    <td th:text="${v.requestDate}">申請日</td>
    <td>下書き</td>
    <td>社員A</td>
  </tr>
  </tbody>
</table>
</body>
</html>
